@charset "UTF-8";

:root{
    --corbranco: #EAF2EF;
    --cormedia: #20BF55;
    --corescura: #041B15;
    --cordestaque01: #FF934F;
    --cordestaque02: #912F56;

    --shadow: 1px 1px 5px #041b1559;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cordestaque02);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#Ilogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: var(--corbranco);
    border-radius: 10px;
    box-shadow: var(--shadow);

    height: 500px;
    width: 250px;

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section#Ilogin > div#Iimagem{
    background: var(--cordestaque02) url(../imagens/login-photo.jpg) center bottom no-repeat;
    background-size: cover;
    display: block;
    height: 200px;
    
}

section#Ilogin > div#Iform{
    display: block;
    padding: 15px;
}

section#Ilogin > div#Iform > h1{
    color: var(--corescura);
    text-align: center;
}

section#Ilogin > div#Iform > p{
    color: var(--corescura);
    font-size: 0.9em;
    text-indent: 20px;
    padding-top: 5px;
}

form > div.campo{
    background-color: var(--cordestaque02);
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > div.campo > label{
    display: none;
}

form > input[type=submit]{
    background-color: var(--cormedia);
    border: none;
    cursor: pointer;
    color: var(--corbranco);
    display: block;
    font-weight: bold;
    font-size: 1em;
    height: 30px;
    width: 100%;
}

form > input[type=submit]:hover{
    background-color: var(--corescura);
}

form > a.button{
    display: block;
    border: 1px solid var(--cormedia);
    background-color: var(--corbranco);
    color: var(--corescura);
    font-size: 1em;
    font-weight: bold;
    
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    height: 30px;
    width: 100%;
}

form > a.button:hover{
    background-color: var(--cormedia);
    color: var(--corbranco);
}

form > a.button > span{
    font-size: 0.7em;
}